@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {

    background-color: #d3e3fd;
    margin: 0%;
    font-family: 'Montserrat';

}

.Title {
    font: 35px;
    color:gold;
}

section {
    color:#f1c232ff;
    background-color:#0941ad;
    text-decoration: underline;
    text-decoration-color: #f1c232ff;
    height: auto;
    width:auto;
    text-align:center;
    padding: 10px;
    font-size:35px;
}

h4 {
    font-size: 20px;
    text-align: right;
    color:silver;
    margin:0px 30px;
}

h1 {
    font-size: 50px;
    text-align: left;
    margin:0px 30px;
}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

h3 {
    text-align: center;  
    margin: 20px;
    font-size: 25px;
}

h5 {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 5px;
    margin-left: auto;
}

p {
    text-align: left;
    margin: 60px 45px;
    line-height: 1.3;

}

.nav-list {
    color: silver;
    text-decoration-color: silver;

    
}

.nav-list {
    color: silver;
    text-decoration-color: silver;

    
}

nav {
    height: 65px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.368);
    justify-content: space-between;
    list-style: none;
    font-size:14px;
}

nav li {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 70px;
    font-size: 14px;
    text-align: center;
}
 
nav li a {
    text-decoration: underline;
    color: #fff;
    font-weight: bold;
    transition: 0.4s ease-in-out;
    width: auto;
    margin-left: 20px;
}
 
nav li a:hover{
    color: gold;
    text-align: center;
}

.NisZ {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.youtube {  
    background-color:#d3e3fd ;
    border-color: rgba(51, 143, 255, 0.288);
}

.MX-5 {
    width: 470px;
    display: block;
    margin: auto;
}

.MazdaTopic {
    font-size: 20px;
    width: 90%;
    margin-right: 380px;
}

.MazdaTitle {
    color: #ff0000;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 5px solid #ff00007b;
}

.GTI {
    display: block;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    width: 100%;
}

.VWTopic {
    font-size: 20px;
    width: 90%;
}

.VWTitle {
    color: #9900ff;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 5px solid #9900ff7b;
}
